body{
	font-family: arial;
	font-size: 12px;
}
.divmenu{
	width: 100%;
	background-color: #78b43d;
	height: 40px;
}
.divlogo{
	background-image: url('img/logo.png');
	height: 40px;
	width: 100px;
	background-repeat: no-repeat;
	float: left;
}
.ul1{
	display: inline-block;
	float: left;
	height: 40px;
	margin: 0;

}
.list1{
	list-style: none;
	display: inline-block;
	line-height: 40px;
	float: left;
	position: relative;
}
.list1:hover{
	text-decoration: underline;
}
a{
	text-decoration: none;
	color: white;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.list1>a{
	height: 15px;
	line-height: 20px;
	border-right: 1px solid white;
	padding-right: 5px;
	padding-left: 5px;
}
.imgmenu{
	background-image: url('img/menu.gif');
	height: 27px;
	width: 25px;
	background-size: auto;
	background-repeat: no-repeat;
	float: left;
	background-position: center bottom;
}
.list2{
	background-color: #aad862;
	list-style: none;
	margin-left: -40px;
	width: 100px;
	height: 25px;
	padding-left: 10px;
	line-height: 25px;
	border-top: 1px solid #78b43d;
}
.listsub{
	position: absolute;
	display: none;
}
.list2:hover{
	text-decoration: underline;
	background-color: #78b43d;
}
#menuhover1:hover .listsub{
	display: block;
}
.list3:hover .a3{
	color: white;
}
.a2{
	padding-left: 5px;
}
.uld{
	margin-left: -110px;
	position: absolute;
	display: none;
}
.list3{
	list-style: none;
	background-color: #aad862;
	width: 150px;
	height: 25px;
	padding-left: 10px;
	line-height: 25px;
	border-top: 1px solid #78b43d;
}
.list3:hover{
	background-color: #78b43d;
}
#menudoc:hover .uld{
	display: block;
}
.a3{
	color: black;
	padding-left: 5px;
	text-decoration: none;
}
.list4{
	list-style: none;
	background-color: #78b43d;
	width: 150px;
	height: 25px;
	padding-left: 10px;
	line-height: 25px;
	border-top: 1px solid #aad862;
}
.list4:hover{
	text-decoration: none;
	background-color: #78b43d;

}
.uld1{
	margin-top: -26px;
	position: absolute;
	margin-left: 110px;
	display:none;
}
#menudoc1:hover .uld1{
	display: block;
}
.a4{
	color: black;
}
.a4:hover{
	color: white;
}
.list3>.a3:hover{
	color: white;
}
.logosearch{
	background-image: url('img/icon_search.png');
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	float: left;
	background-size: cover;
	margin-top: 5px;
	margin-left: 5px;
}
.search{
	border: 1px solid white;
	border-radius: 40px;
	height: 30px;
	width: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 30px;
}
